{{>header}}
<div style="width:600px; margin:0 auto; text-align:center">
  <h1>404 - NOT FOUND!</h1>
  <h2>oh my god what did you do.</h2>
  <h5>That's ok here have a snowman.</h5>
  <a href="/"><div style="font-size:150px;">☃</div></a>
</div>

{{>footer}}
